# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
ENV/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.hypothesis/
.pytype/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db